Repository d-kuro/gwq: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, golangci-lint-fmt, oxfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix ./...
    golangci-lint-fmt:
      glob: "*.go"
      run: golangci-lint fmt ./...
    oxfmt:
      glob: "*.md"
      run: oxfmt --write {staged_files}
      stage_fixed: true

docs: add release notes for v0.0.15
  docs/release-notes/v0.0.15.md
Due: oxfmt

fix: update lipgloss v2 import path to charm.land/lipgloss/v2
  go.mod
  go.sum
  internal/table/table.go
Due: golangci-lint, golangci-lint-fmt

fix: resolve repository_settings from inside a worktree (#84)
  internal/cmd/status_collector.go
  internal/config/config.go
  internal/git/git.go
  internal/git/git_branch.go
  internal/git/git_repo.go
  internal/git/git_test.go
  internal/git/git_worktree.go
  internal/worktree/post_setup.go
  internal/worktree/worktree.go
  internal/worktree/worktree_integration_test.go
  internal/worktree/worktree_test.go
Due: golangci-lint, golangci-lint-fmt

fix: resolve repository_settings from inside a worktree (#84) (#91)
  internal/cmd/status_collector.go
  internal/config/config.go
  internal/git/git.go
  internal/git/git_branch.go
  internal/git/git_repo.go
  internal/git/git_test.go
  internal/git/git_worktree.go
  internal/worktree/post_setup.go
  internal/worktree/worktree.go
  internal/worktree/worktree_integration_test.go
  internal/worktree/worktree_test.go
Due: golangci-lint, golangci-lint-fmt

docs: add release notes for v0.0.16
  docs/release-notes/v0.0.16.md
Due: oxfmt

docs: add release notes for v0.0.16 (#92)
  docs/release-notes/v0.0.16.md
Due: oxfmt

fix: support git URLs using SSH config aliases (#88)
  internal/url/url.go
  internal/url/url_test.go
Due: golangci-lint, golangci-lint-fmt

fix: support git URLs using SSH config aliases (#88) (#93)
  internal/url/url.go
  internal/url/url_test.go
Due: golangci-lint, golangci-lint-fmt

docs: add release notes for v0.0.17
  docs/release-notes/v0.0.17.md
Due: oxfmt

docs: add release notes for v0.0.17 (#94)
  docs/release-notes/v0.0.17.md
Due: oxfmt

fix: include main worktrees and exclude submodules in global discovery
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

fix: preserve glob patterns in repository_settings config
  internal/config/config.go
  internal/config/config_test.go
Due: golangci-lint, golangci-lint-fmt

refactor: clean up discovery code and tests after review
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

fix: handle submodules inside linked worktrees in global discovery
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

fix: include main worktrees, exclude submodules, preserve glob patterns (#96)
  internal/config/config.go
  internal/config/config_test.go
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

docs: add release notes for v0.0.18
  docs/release-notes/v0.0.18.md
Due: oxfmt

docs: add release notes for v0.0.18 (#98)
  docs/release-notes/v0.0.18.md
Due: oxfmt

feat: support per-repository basedir override
  README.md
  internal/config/config.go
  internal/worktree/worktree.go
  internal/worktree/worktree_test.go
  pkg/models/models.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

fix: use absolute URL for release notes link in PR body
  .claude/skills/release-gwq/SKILL.md
Due: oxfmt

fix: use absolute URL for release notes link in PR body (#99)
  .claude/skills/release-gwq/SKILL.md
Due: oxfmt

feat: support per-repository basedir override (#100)
  README.md
  internal/config/config.go
  internal/worktree/worktree.go
  internal/worktree/worktree_test.go
  pkg/models/models.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

fix: remove 404-prone release notes link from release PR body
  .claude/skills/release-gwq/SKILL.md
Due: oxfmt

fix: remove 404-prone release notes link from release PR body (#101)
  .claude/skills/release-gwq/SKILL.md
Due: oxfmt

docs: add release notes for v0.0.19
  docs/release-notes/v0.0.19.md
Due: oxfmt

docs: add release notes for v0.0.19 (#102)
  docs/release-notes/v0.0.19.md
Due: oxfmt

feat: auto-cd on 'gwq add' under shell integration (#103)
  README.md
  docs/release-notes/v0.0.20.md
  internal/cmd/add.go
  internal/cmd/add_test.go
  internal/cmd/cd.go
  internal/cmd/completion.go
  internal/cmd/shellintegration_test.go
  internal/config/config.go
  internal/shell/shell_test.go
  internal/shell/templates/bash.tmpl
  internal/shell/templates/fish.tmpl
  internal/shell/templates/zsh.tmpl
  pkg/models/models.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

feat: auto-cd on 'gwq add' under shell integration (#103) (#107)
  README.md
  docs/release-notes/v0.0.20.md
  internal/cmd/add.go
  internal/cmd/add_test.go
  internal/cmd/cd.go
  internal/cmd/completion.go
  internal/cmd/shellintegration_test.go
  internal/config/config.go
  internal/shell/shell_test.go
  internal/shell/templates/bash.tmpl
  internal/shell/templates/fish.tmpl
  internal/shell/templates/zsh.tmpl
  pkg/models/models.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

fix: gate local .gwq.toml behind a trust prompt (#105)
  go.mod
  internal/config/config.go
  internal/config/config_test.go
  internal/config/trust.go
  internal/config/trust_test.go
Due: golangci-lint, golangci-lint-fmt

fix: use random temp filename for trust store writes
  internal/config/trust.go
  internal/config/trust_test.go
Due: golangci-lint, golangci-lint-fmt

fix: gate local .gwq.toml behind a trust prompt (#105) (#108)
  go.mod
  internal/config/config.go
  internal/config/config_test.go
  internal/config/trust.go
  internal/config/trust_test.go
Due: golangci-lint, golangci-lint-fmt

docs: add release notes for v0.1.0
  docs/release-notes/v0.1.0.md
Due: oxfmt

docs: add release notes for v0.1.0 (#109)
  docs/release-notes/v0.1.0.md
Due: oxfmt

feat: render template variables in setup_commands via sh -c
  README.md
  internal/template/commands.go
  internal/template/commands_test.go
  internal/template/template.go
  internal/worktree/post_setup.go
  internal/worktree/post_setup_test.go
  internal/worktree/setup_commands.go
  internal/worktree/setup_commands_test.go
  internal/worktree/worktree.go
  internal/worktree/worktree_test.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

docs: use generic setup_commands examples in README
  README.md
Due: oxfmt

docs: replace tool-specific setup_commands examples with POSIX-only ones
  README.md
Due: oxfmt

docs: restore npm install in the first setup_commands example
  README.md
Due: oxfmt

feat: render template variables in setup_commands (#110)
  README.md
  internal/template/commands.go
  internal/template/commands_test.go
  internal/template/template.go
  internal/worktree/post_setup.go
  internal/worktree/post_setup_test.go
  internal/worktree/setup_commands.go
  internal/worktree/setup_commands_test.go
  internal/worktree/worktree.go
  internal/worktree/worktree_test.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

docs: add release notes for v0.1.1
  docs/release-notes/v0.1.1.md
Due: oxfmt

docs: add release notes for v0.1.1 (#111)
  docs/release-notes/v0.1.1.md
Due: oxfmt

feat: Support recursively copying directories matching glob patterns
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt
