Repository d-kuro/gwq: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, golangci-lint-fmt, oxfmt

golangci-lint:
  run: golangci-lint run --fix ./...

golangci-lint-fmt:
  run: golangci-lint fmt ./...

oxfmt:
  run: oxfmt --write {staged_files}
  stage_fixed: true

feat: add TTL/expiration support for worktrees
  internal/cmd/add.go
  internal/cmd/prune.go
  internal/duration/duration.go
  internal/duration/duration_test.go
  internal/registry/registry.go
  internal/registry/registry_test.go
Due: golangci-lint, golangci-lint-fmt

fix: handle manually deleted worktrees in prune --expired
  internal/cmd/prune.go
Due: golangci-lint, golangci-lint-fmt

fix: unregister worktree from registry on remove
  internal/cmd/remove.go
Due: golangci-lint, golangci-lint-fmt

feat: add TTL/expiration support for worktrees (#67)
  internal/cmd/add.go
  internal/cmd/prune.go
  internal/cmd/remove.go
  internal/duration/duration.go
  internal/duration/duration_test.go
  internal/registry/registry.go
  internal/registry/registry_test.go
Due: golangci-lint, golangci-lint-fmt

fix: handle manually deleted worktrees in prune --expired (#70)
  internal/cmd/prune.go
Due: golangci-lint, golangci-lint-fmt

fix: handle error return value of os.RemoveAll in test
  internal/registry/registry_test.go
Due: golangci-lint, golangci-lint-fmt

fix: handle error return value of os.RemoveAll in test (#71)
  internal/registry/registry_test.go
Due: golangci-lint, golangci-lint-fmt

docs: add release notes for v0.0.12
  docs/release-notes/v0.0.12.md
Due: oxfmt

docs: add release notes for v0.0.12 (#72)
  docs/release-notes/v0.0.12.md
Due: oxfmt

Support ghq integration
  internal/cmd/cd.go
  internal/cmd/completion.go
  internal/cmd/context.go
  internal/cmd/exec.go
  internal/cmd/list.go
  internal/cmd/remove.go
  internal/cmd/root.go
  internal/cmd/status_collector.go
  internal/cmd/status_test.go
  internal/config/config.go
  internal/discovery/discovery.go
  internal/discovery/discovery_fast.go
  internal/discovery/discovery_ghq.go
  internal/discovery/discovery_parallel.go
  internal/discovery/discovery_test.go
  internal/finder/finder.go
  internal/finder/finder_test.go
  internal/ghq/ghq.go
  internal/ghq/ghq_test.go
  internal/git/git.go
  internal/template/path_parser.go
  internal/template/path_parser_test.go
  internal/template/template.go
  internal/template/template_test.go
  internal/url/url.go
  internal/url/url_test.go
  internal/worktree/init_worktrees.go
  internal/worktree/init_worktrees_test.go
  internal/worktree/setup_commands.go
  internal/worktree/setup_commands_test.go
  internal/worktree/worktree.go
  internal/worktree/worktree_integration_test.go
  internal/worktree/worktree_test.go
  pkg/models/models.go
Due: golangci-lint, golangci-lint-fmt

fixup! Support ghq integration
  internal/cmd/context.go
  internal/discovery/discovery.go
  internal/discovery/discovery_fast.go
  internal/discovery/discovery_ghq.go
  internal/discovery/discovery_parallel.go
  internal/discovery/discovery_test.go
  internal/finder/finder.go
  internal/finder/finder_test.go
  internal/git/git.go
  internal/git/git_test.go
  internal/url/url.go
  internal/url/url_test.go
Due: golangci-lint, golangci-lint-fmt

Refactor global discovery flow with TDD coverage
  internal/cmd/exec.go
  internal/cmd/ghq_integration_test.go
  internal/cmd/global_discovery.go
  internal/cmd/global_discovery_test.go
  internal/cmd/remove.go
  internal/cmd/status_collector.go
  internal/cmd/status_test.go
  internal/discovery/discovery_ghq.go
  internal/discovery/discovery_test.go
  internal/finder/finder.go
  internal/finder/finder_test.go
Due: golangci-lint, golangci-lint-fmt

feat: add ls alias for list command
  README.md
  internal/cmd/list.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

feat: add ls alias for list command (#74)
  README.md
  internal/cmd/list.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

docs: add release notes for v0.0.13
  docs/release-notes/v0.0.13.md
Due: oxfmt

docs: add release notes for v0.0.13 (#75)
  docs/release-notes/v0.0.13.md
Due: oxfmt

docs: add missing contributors to release notes
  docs/release-notes/v0.0.12.md
  docs/release-notes/v0.0.13.md
  docs/release-notes/v0.0.5.md
Due: oxfmt

docs: add missing contributors to release notes (#76)
  docs/release-notes/v0.0.12.md
  docs/release-notes/v0.0.13.md
  docs/release-notes/v0.0.5.md
Due: oxfmt

docs: add contributors guidelines to RELEASING.md
  docs/RELEASING.md
Due: oxfmt

docs: add contributors guidelines to RELEASING.md (#77)
  docs/RELEASING.md
Due: oxfmt

refactor: modernize codebase for Go 1.26
  go.mod
  internal/cmd/exec.go
  internal/cmd/status_collector.go
  internal/config/config_test.go
  internal/discovery/discovery_test.go
  internal/filesystem/interface_test.go
  internal/git/git.go
  internal/git/git_test.go
  internal/registry/registry_test.go
  internal/tmux/tmux.go
  internal/ui/ui_test.go
Due: golangci-lint, golangci-lint-fmt

refactor: modernize codebase for Go 1.26 (#78)
  go.mod
  internal/cmd/exec.go
  internal/cmd/status_collector.go
  internal/config/config_test.go
  internal/discovery/discovery_test.go
  internal/filesystem/interface_test.go
  internal/git/git.go
  internal/git/git_test.go
  internal/registry/registry_test.go
  internal/tmux/tmux.go
  internal/ui/ui_test.go
Due: golangci-lint, golangci-lint-fmt

refactor: remove dead code, consolidate git status, and fix exec.go parsing
  internal/cmd/cd.go
  internal/cmd/context.go
  internal/cmd/exec.go
  internal/cmd/remove.go
  internal/cmd/status_collector.go
  internal/cmd/status_test.go
  internal/discovery/discovery_fast.go
  internal/discovery/discovery_ghq.go
  internal/discovery/discovery_parallel.go
  internal/discovery/discovery_test.go
  internal/ghq/ghq.go
  internal/ghq/ghq_test.go
  internal/template/path_parser.go
  internal/template/path_parser_test.go
  internal/template/template.go
Due: golangci-lint, golangci-lint-fmt

feat: add shell integration for `gwq cd` to change directory in current shell
  internal/cmd/cd.go
  internal/cmd/cd_test.go
  internal/cmd/completion.go
  internal/cmd/root.go
  internal/cmd/shellintegration.go
  internal/cmd/shellintegration_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/shell/shell.go
  internal/shell/shell_test.go
  internal/shell/templates/bash.tmpl
  internal/shell/templates/fish.tmpl
  internal/shell/templates/zsh.tmpl
  pkg/models/models.go
Due: golangci-lint, golangci-lint-fmt

docs: update gwq cd help text to reflect shell integration
  internal/cmd/cd.go
  internal/cmd/cd_test.go
Due: golangci-lint, golangci-lint-fmt

feat: show shell reload hint after changing cd.launch_shell
  internal/cmd/config.go
Due: golangci-lint, golangci-lint-fmt

fixup! refactor: remove dead code, consolidate git status, and fix exec.go parsing
  README.md
  internal/finder/finder.go
  internal/finder/finder_test.go
  internal/ui/ui.go
  internal/ui/ui_test.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

fixup! fixup! refactor: remove dead code, consolidate git status, and fix exec.go parsing
  internal/finder/finder.go
Due: golangci-lint, golangci-lint-fmt

docs: add cd.launch_shell and shell integration documentation to README
  README.md
Due: oxfmt

fix: restore PowerShell completion and validate completion arguments
  internal/cmd/shellintegration.go
  internal/cmd/shellintegration_test.go
Due: golangci-lint, golangci-lint-fmt

fix: use set -lx instead of env for fish shell wrapper
  internal/shell/templates/fish.tmpl
Due: none

test: add completion tests for all shells and invalid subcommand
  internal/cmd/shellintegration_test.go
Due: golangci-lint, golangci-lint-fmt

fix: resolve errcheck lint and fix fish wrapper test assertion
  internal/cmd/config.go
  internal/shell/shell_test.go
  internal/shell/templates/fish.tmpl
Due: golangci-lint, golangci-lint-fmt

Add cd.launch_shell option to change directory in current shell (#80)
  README.md
  internal/cmd/cd.go
  internal/cmd/cd_test.go
  internal/cmd/completion.go
  internal/cmd/config.go
  internal/cmd/root.go
  internal/cmd/shellintegration.go
  internal/cmd/shellintegration_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/shell/shell.go
  internal/shell/shell_test.go
  internal/shell/templates/bash.tmpl
  internal/shell/templates/fish.tmpl
  internal/shell/templates/zsh.tmpl
  pkg/models/models.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

docs: add release notes for v0.0.14
  docs/release-notes/v0.0.14.md
Due: oxfmt

fix: use last path component as Repository for nested group URLs
  internal/url/url.go
  internal/url/url_test.go
Due: golangci-lint, golangci-lint-fmt

fix: use %(refname) to correctly detect remote branches and fix add -i handling (#1)
  internal/cmd/add.go
  internal/git/git.go
  internal/git/git_test.go
Due: golangci-lint, golangci-lint-fmt

Fix: AddWorktreeFromBase handles existing local branch
  internal/git/git.go
  internal/git/git_test.go
Due: golangci-lint, golangci-lint-fmt

docs: add CLAUDE.md and release skill, remove RELEASING.md
  .claude/skills/release-gwq/SKILL.md
  CLAUDE.md
  docs/RELEASING.md
Due: oxfmt

Path conditions:
  golangci-lint: any of: *.go
  golangci-lint-fmt: any of: *.go
  oxfmt: any of: *.md
