Repository d-kuro/gwq: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, golangci-lint-fmt, oxfmt

golangci-lint:
  run: golangci-lint run --fix ./...

golangci-lint-fmt:
  run: golangci-lint fmt ./...

oxfmt:
  run: oxfmt --write {staged_files}
  stage_fixed: true

feat: add nix flake for reproducible builds and dev shell
  flake.lock
  flake.nix
Due: none

fix: run all tests in nix sandbox instead of skipping them
  flake.nix
Due: none

fix: preserve bare repository roots for setup
  internal/git/git_repo.go
  internal/git/git_test.go
Due: golangci-lint, golangci-lint-fmt

perf: stop global discovery from walking linked worktree contents
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

test: pin global discovery output order under parallel extraction
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

perf: stop global discovery from walking linked worktree contents (#118)
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

fix: keep discovering worktrees under a .bare layout root
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

fix: preserve bare repository roots for setup (#116)
  internal/git/git_repo.go
  internal/git/git_test.go
Due: golangci-lint, golangci-lint-fmt

fix: resolve bare repository roots from linked worktrees
  internal/git/git_repo.go
  internal/git/git_test.go
  internal/git/git_worktree.go
  internal/worktree/post_setup.go
  internal/worktree/post_setup_test.go
  internal/worktree/worktree_test.go
Due: golangci-lint, golangci-lint-fmt

refactor: only walk below .git files that point at bare repositories
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

refactor: derive the repository root from the .git entry
  internal/git/git_repo.go
  internal/git/git_test.go
  internal/git/git_worktree.go
Due: golangci-lint, golangci-lint-fmt

fix: ask git whether a .git file points at a bare repository
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

fix: keep discovering worktrees under a .bare layout root (#120)
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: golangci-lint, golangci-lint-fmt

fix: resolve bare repository roots from linked worktrees (#121)
  internal/git/git_repo.go
  internal/git/git_test.go
  internal/git/git_worktree.go
  internal/worktree/post_setup.go
  internal/worktree/post_setup_test.go
  internal/worktree/worktree_test.go
Due: golangci-lint, golangci-lint-fmt

fix: never let copy_files clobber files it should not touch
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt

refactor: tighten copy_files guards after review
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt

fix: never let copy_files clobber files it should not touch (#122)
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt

feat: Support recursively copying directories matching glob patterns (#113)
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt

fix: harden recursive directory copying in copy_files
  README.md
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

refactor: walk copy_files by relative path and exclude the destination once
  README.md
  internal/filesystem/interface.go
  internal/filesystem/interface_test.go
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

fix: recognize the destination by identity when copying directories
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt

fix: exclude everything under the destination, compared by identity
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt

fix: harden recursive directory copying in copy_files (#123)
  README.md
  internal/filesystem/interface.go
  internal/filesystem/interface_test.go
  internal/worktree/copy_files.go
  internal/worktree/copy_files_test.go
Due: golangci-lint, golangci-lint-fmt, oxfmt

docs: add release notes for v0.1.2
  docs/release-notes/v0.1.2.md
Due: oxfmt

docs: add release notes for v0.1.2 (#124)
  docs/release-notes/v0.1.2.md
Due: oxfmt

fix(deps): update Go modules to latest versions
  go.mod
  go.sum
Due: none

ci: update GitHub Actions to their latest major versions
  .github/workflows/build.yaml
  .github/workflows/goreleaser.yaml
Due: none

build: require Go 1.27 and build with Go 1.27.1
  README.md
  go.mod
Due: oxfmt

ci: rely on goreleaser-action's default GoReleaser version
  .github/workflows/goreleaser.yaml
Due: none

chore: update dependencies to latest versions (#125)
  .github/workflows/build.yaml
  .github/workflows/goreleaser.yaml
  README.md
  go.mod
  go.sum
Due: oxfmt

Path conditions:
  golangci-lint: any of: *.go
  golangci-lint-fmt: any of: *.go
  oxfmt: any of: *.md
